		*{
			margin: 0;
			padding: 0;
		}
		a{
			text-decoration: none;
			color: #000;
		}
		html{
			background-image: url('../img/fondopagina.webp');
			background-size: cover;
			background-attachment: fixed;
		}
		body{
			width: 80%;
			margin: 0 auto;
			display: grid;
    		min-height: 100dvh;
    		grid-template-rows: auto 1fr auto;
		}
		figure>img{
			width: 95%;
			margin: auto;
		}
		label{
			display: inline-block;
			min-width: 100px;
		}

		@font-face{
			src: url('./public/fonts/simpson.otf');
			font-family: simpson;
			font-weight: normal;
			font-style: normal;
		}

		h1{
			font-family: simpson;
		}

		main{
			background-color: #fff;
		}