main{
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

main section h2, main section h3{
    color: #fff;
    background-color: #4c4c4c;
    font-size: 1.2em;
    padding: 0.4vw 2vw;
}

main>section:first-of-type p, main>section:nth-of-type(2) p{
    padding: 2dvw 1dvw;
    font-size: 1em;
}

main>section:nth-of-type(2)>article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main>section:nth-of-type(2)>article>figure{
    flex: 1;
}

main section:last-of-type{
    display: flex;
    flex-direction: column;
}

main section:last-of-type div{
    display: flex;
    flex-direction: row;
}

main section:last-of-type article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 48%;
}

main section:last-of-type article>section{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}

main section:last-of-type article:last-of-type>section:last-of-type{
    display: flex;
    flex-direction: row;
}

main section:last-of-type p{
    margin: 1dvw 1dvw;
    font-size: 0.8em;
}
table{
    width: 80%;
}
table, table td, table th {
    margin: 1%;
    padding: 1%;
    font-size: 1em;
}

table th {
    color: #fff;
    background-color: #4c4c4c;
}

table tr:nth-of-type(even){
    background-color: #E6DB7E;
}

table tr:nth-of-type(2) td{
    color: #ff0000;
    font-weight: bold;
}

@media screen and (max-width:900px){

    p{
        font-size: 1.8dvw!important;
    }

    main section:last-of-type article{
        width: 100%!important;
    }

    main section:last-of-type div{
        flex-direction: column!important;
    }

    table, table td, table th{
        font-size: 1.8dvw!important;
    }
}

@media screen and (max-width:600px){
    main>section:nth-of-type(2)>article{
        flex-direction: column!important;
    }
    main>section:nth-of-type(2)>article figure{
        padding: 2dvw!important;
    }
    
    main section:last-of-type article:last-of-type>section:last-of-type{
        flex-direction: column!important;
    }
    main section:last-of-type article:last-of-type>section:last-of-type figure{
        width: 30dvw;
    }
    main section:last-of-type div {
        flex-direction: column-reverse!important;
    }
    }
