nav{
    background-color: #3f3f3f;
    position: sticky;
    top: 0px;
}

nav>ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
nav>ul>li{
    padding: 1vw;    
    transition: background-color 0.5s ease;
    cursor: pointer;
}

nav>ul>li>a{
    transition: color 0.5s ease;
    color: #fff;
    font-size: 1.2vw;
    font-variant: small-caps;
}

nav>ul>li:hover{
    
    background-color: #b3b3b3;
}

nav>ul>li:hover a{
    color: #000000;
}