@media screen and (max-width:900px){
    div>nav{
        display: none;
    }
    div #menu{
        display: block;
    }
    .nav-responsive{
        display: block;
        left: 100%;
    }

    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 50px;
        background-color: #3f3f3f;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        width: 100%;
        
    }
    nav.responsive ul{
        display: block !important;
    }

    nav.responsive ul li{
        border-bottom: 1px solid var(--textos-blancos);
        padding: 2dvw;
        font-size: 1em;
    }

    p{
        font-size: 1.8dvw!important;
    }

    main section:last-of-type article{
        width: 100%!important;
    }

    main section:last-of-type div{
        flex-direction: column!important;
    }

    table, table td, table th{
        font-size: 1.8dvw!important;
    }
}
@media screen and (max-width:600px){
main>section:nth-of-type(2)>article{
    flex-direction: column!important;
}
main>section:nth-of-type(2)>article figure{
    padding: 2dvw!important;
}

main section:last-of-type article:last-of-type>section:last-of-type{
    flex-direction: column!important;
}
main section:last-of-type article:last-of-type>section:last-of-type figure{
    width: 30dvw;
}
main section:last-of-type div {
    flex-direction: column-reverse!important;
}
}