---
import Layout from "../layouts/Layout.astro";
import "../styles/contacto.css";
---

<Layout>
  <main>
    <section>
      <h2>Contacta con Nosotros</h2>

      <form>
        <div>
          <input type="text" name="usuario" placeholder="Usuario" />

          <input
            type="email"
            name="consulta"
            placeholder="Correo Electronico"
          />
        </div>

        <div>
          <input
            type="text"
            name="usuario"
            placeholder="Titulo de la consulta"
          />

          <input type="file" name="archivo" accept="file/*" id="datos" />
        </div>

        <div>
          <textarea name="comentarios"
            >Escribe aqui el motivo de tu consulta</textarea
          >

          <label
            ><input type="checkbox" name="recordar" value="1" />
            Mantenerme informado</label
          >
        </div>
        <div>
          <button type="submit">Enviar</button>
          <button type="reset">Borrar</button>
        </div>
      </form>
    </section>
  </main>
</Layout>
