---
import Layout from "../layouts/Layout.astro";
import "../styles/equipoTrabajo.css";
---

<Layout>
  <main>
    <section>
      <h2>Autoridades de la escuela</h2>

      <section>
        <article>
          <figure>
            <img src="/img/equipotrabajo/skinner.webp" />
          </figure>

          <section>
            <h4>Seymour Skinner:</h4>
            <p>
              El director de la escuela, es el estereotipo de estudioso que
              sigue reglas para todo en la vida. Generalmente se lo ve luchando
              contra la falta de disciplina de los alumnos, y su némesis es Bart
              Simpson ya que es con el que más ha tenido que lidiar. En varias
              oportunidades ha intentado mejorar la imagen de la escuela
              utilizando las buenas calificaciones o buena memoria de Lisa
              Simpson.
            </p>
          </section>
        </article>
        <article>
          <figure>
            <img src="/img/equipotrabajo/chalmers.webp" />
          </figure>

          <section>
            <h4>Superintendente Chalmers:</h4>
            <p>
              Su trabajo es el de supervisar la escuela de Springfield haciendo
              cuantiosas inspecciones a lo largo del curso. Es quien le pone
              calificación a la escuela para ver si recibiría subsidios o no.
              Siempre que ocurre algo imprevisto en la escuela grita
              "Skkiiinner". Es muy intolerante y exigente con el director
              Skinner, produciéndole mucha ansiedad y nerviosismo
            </p>
          </section>
        </article>
      </section>
      <h2>Empleados de la Escuela</h2>

      <section>
        <article>
          <figure>
            <img src="/img/equipotrabajo/Willie.webp" />
          </figure>

          <section>
            <h4>Willie MacDougal:</h4>
            <p>
              Willie es el jardinero y conserje de la Escuela Primaria de
              Springfield, se representa como el esteriotipo de escocés enfadado
              con un acento natal, es desagradable, aunque un inofensivo
              personaje. A través de los episodios, mencionó varios lugares en
              donde nació, y frecuentemente cuenta historias contradictorias de
              su pasado al llegar a Springfield. Estas son mencionadas en "The
              President Wore Pearls" cuando Willie cuenta cuando trabajaba en
              una mina, diciendo "No one made it out alive, not even Willie!"
              (Nadie salió vivo de allí, ni siquiera Willie, traducido al
              español). Willie es tomado como incompetente y es normal verlo
              enfadado por cualquier pequeña razón. A demostrado una buena
              amistad con el Director Skinner y Bart Simpson, quien siempre
              tiende bromas a Willie. También es normal escuchando mencionar a
              sus padres.
            </p>
          </section>
        </article>
        <article>
          <figure>
            <img src="/img/equipotrabajo/Otto_Mann.webp" />
          </figure>
          <section>
            <h4>Otto Mann:</h4>
            <p>
              es el conductor del autobús que lleva a los niños a la escuela. Se
              caracteriza por escuchar heavy metal, y tiene unos auriculares
              permanentemente puestos. Lleva una vida al estilo hippie. Estuvo a
              punto de casarse. Al parecer ingiere drogas de vez en cuando y de
              vez en cuando, una barra de plutonio. Según él mismo dijo, lo
              único que aprendió en la escuela fue tocar la guitarra. Durante
              algún tiempo, fue conductor sin licencia para conducir. Estuvo a
              punto de casarse con Becky, trabajadora de un restaurante alemán,
              a quien le dedicó "Every Rose Has Its Thorn" de "Poison", y a
              quien abandonó en el altar después de que Marge le diera como
              opción ella o el heavy metal; se terminaría yendo en el autobús
              con Cianuro (una banda tributo a Poison) que estaba tocando en la
              boda. A esta boda asistieron también los padres de Otto, siendo su
              padre un marino de alto rango (seguramente un almirante como dijo
              Otto en ocasiones anteriores) y con quien no se lleva nada bien.
            </p>
          </section>
        </article>
        <article>
          <figure>
            <img src="/img/equipotrabajo/Doris_Freedman.webp" />
          </figure>

          <section>
            <h4>Doris Freedman:</h4>
            <p>
              Es la cocinera de la escuela y además la "doctora" que da los
              primeros auxilios en la enfermería, ya que de esta forma recibe
              dos cheques. También se ve que los materiales con los que cocina
              son de segunda calidad, incluso en una oportunidad dice "Estas
              colchonetas tienen muy poca carne" mientras muele una. Los
              frijoles que cocina datan de la Segunda Guerra Mundial. Según
              Lisa, la suya es la comida "mas insípida del mundo". También la
              enfermería cuenta con bajos recursos. Cuando Bart se desmaya, ella
              le dice que sólo había dos antidepresivos como remedio.
            </p>
          </section>
        </article>
      </section>
      <h2>Profesores del Centro</h2>

      <section>
        <article>
          <figure>
            <img src="/img/equipotrabajo/Krabappel.webp" />
          </figure>

          <section>
            <h4>Edna Krabappel:</h4>
            <p>
              es la profesora de cuarto grado de Bart Simpson, Milhouse Van
              Houten, Nelson Muntz y Martin Prince, Sherri, Terri, entre otros.
              Se caracteriza por su desgano para enseñar. De vez en cuando es la
              novia de Seymour Skinner, aunque fuera del ámbito escolar ha sido
              catalogada varias veces como "zorra". Tambien ha sido pareja e
              incluso se ha casado con Ned Flanders. Su relación con los alumnos
              era algo contradictoria: por momentos parecía una profesora
              dedicada e interesada por el futuro de sus alumnos, como cuando
              fue la cabeza de una huelga general de profesores por falta de
              presupuesto; en ella se enfrentó al Director Skinner argumentando
              que con el presupuesto actual los niños no tendrían futuro. Pero
              la mayoría de las veces se notaba que hace su trabajo con desgano,
              como cuando menciona que quería que alguien del aula
              (especialmente Bart) le hiciera una broma para "sentirse viva".
            </p>
          </section>
        </article>
        <article>
          <figure>
            <img src="/img/equipotrabajo/Hoover.webp" />
          </figure>
          <section>
            <h4>Elizabeth Hoover:</h4>
            <p>
              O Sita Hoover, es la profesora de segundo grado Tiene una actitud
              muy tranquila, no suele enojarse por nada y al igual que Edna
              Krabappel, tiene desgano para enseñar. Durante una protesta
              escolar le robaron su libro guía de clase y no supo qué temas
              enseñar.
            </p>
          </section>
        </article>
        <article>
          <figure>
            <img src="/img/equipotrabajo/Largo.webp" />
          </figure>

          <section>
            <h4>Dewey Largo:</h4>
            <p>
              es el profesor de música de Lisa Simpson, Milhouse Van Houten,
              Sherry y Terry, entre otros. Se lo ha calificado como poco
              creativo, ya que criticó la creatividad musical de Lisa con el
              Sax. Aparece muy esporádicamente por la escuela.
            </p>
          </section>
        </article>
        <article>
          <figure>
            <img src="/img/equipotrabajo/Krupt.webp" />
          </figure>

          <section>
            <h4>Entrenador Krupt:</h4>
            <p>
              es otro profesor de gimnasia. Está obsesionado con un juego
              llamado Bombardeo, que consiste en lanzar balones con fuerza a
              otras personas, en este caso alumnos, aunque también lo hace con
              bollos de pan en un restaurante. Reemplazó a Brunella Pommelhorst
              mientras ella se hacía una operación de cambio de sexo. En sus
              clases, la única actividad es jugar al Bombardeo, inclusive uno de
              los ejercicios consiste en que el entrenador se sienta en una
              silla y los niños hacen fila para que él les arroje un balón;
              además nadie está exento de la clase, incluso Milhouse Van Houten
              es obligado a jugar (a pesar de tener un certificado médico). Sin
              embargo, Bart se cansa del juego y decide vengarse de Krupt,
              guardando en el congelador un balón lleno de agua. A la mañana
              siguiente, Bart le arroja el balón al entrenador, que lo esquiva,
              por lo que el balón rompe una ventana y destruye la choza del
              Jardinero Willie.
            </p>
          </section>
        </article>
      </section>
      <h2>Vigilantes de Pasillo</h2>

      <section>
        <article>
          <figure>
            <img src="/img/equipotrabajo/Lisa_Simpson.webp" />
          </figure>

          <section>
            <h4>Lisa Simpson:</h4>
            <p>
              Lisa es lista, curiosa, ambiciosa, tiene un gran orgullo y un alto
              ego como se demuestra varios episodios y demuestra ser el miembro
              de la familia con más conocimiento intelectual, sobre todo de
              ámbitos académicos. Lisa valora profundamente su integridad pero
              es sumamente competitiva con un continuo afán de superarse. A
              pesar de su rebelión contra las normalidades sociales,
              generalmente es retratada como una niña edificante, constructiva y
              heroica; pero además suele pecar de vanidosa, egoísta, creída o
              arrogante. Aún con su intelecto, Lisa ha recibido, al igual que
              Bart, detenciones y castigos un gran número de veces, generalmente
              por su actitud rebelde y antisocial, que es capaz de avergonzar
              profundamente a figuras de autoridad al mostrarles los errores que
              cometen. A su joven edad, desarrolla una rectitud moral que cree
              que es apropiada para todo el mundo y la predica e inculca, no con
              mucho éxito entre la sociedad de escasa ética con la que convive.
              Por esto, es con su madre con quien mejor conecta, aunque Marge
              está mucho más escarmentada y resignada que Lisa debido a su edad
              y larga experiencia en el mundo real.
            </p>
          </section>
        </article>
        <article>
          <figure>
            <img src="/img/equipotrabajo/Martin_Prince.webp" />
          </figure>
          <section>
            <h4>Martin Prince:</h4>
            <p>
              Es el consentido del profesor, académicamente, con el entusiasmo
              típico del nerd por la ciencia ficción, juegos de rol, un no muy
              buen sentido de la moda, y tiene un coeficiente intelectual de
              216. Es básicamente el ñoño de la clase y un objetivo perfecto
              para los abusones en la escuela, es extremadamente brillante hasta
              en un episodio crea una bobina de tesla para una feria de
              ciencias, algo extraño es que aunque se sabe de su inteligencia
              sigue en la Escuela primaria de Springfield y no en un instituto
              como en el que metieron a Bart cuando se creía que era un genio.
            </p>
          </section>
        </article>
      </section>
    </section>
  </main>
</Layout>
