---
import Layout from "../layouts/Layout.astro";
import "./src/styles/inicio.css";
---

<Layout>
  <main>
    <section>
      <h2>Bienvenida</h2>

      <p>
        La escuela primaria de Springfield se caracteriza por la gran calidad de
        la enseñanza impartida por los profesores, los cuales, por lo general,
        asisten animados a clase y se preocupan de si los alumnos están
        aprendiendo. Con frecuencia envían a los alumnos que se comportan mal al
        despacho del director Skinner para que este les imparta algún castigo.
        Segun el Superintendente Chalmers, esta escuela era la más derruida de
        Misuri y que por eso la habían desarmado ladrillo a ladrillo y
        trasladado a Springfield. Tambien se dice que la escuela tenia varias
        ventanas rotas, no tenia salón de ordenadores, y en el patio casi no
        habia juegos y los pocos que habia eran peligrosos. Se señaló que la
        escuela está forrada en asbesto, un compuesto químico altamente tóxico.
        Gracias a las buenas notas del alumnad, esta recibe muchos subsidios a
        lo largo del año.
      </p>
    </section>
    <section>
      <h3>Información del Centro</h3>
      <p>
        Esta escuela tiene un aspecto cuadriculado donde tanto el interior como
        el exterior esta formado de manera que se pueda aprovechar el poco
        espacio que se le permite tener en un pequeño terreno. La fachada esta
        compuesta por colores amarillos y morados, con un cartel en la puerta
        principal, con una bandera y muchos setos a su alrededor, y el interior
        esta formado por pasillos con colores verdosos en las paredes, rojo
        oscuro en el suelo y gris en el techo. Casi todas las aulas son iguales
        pese a sus cambios de color o posicion de los asientos, esto ultimo
        comparando la clase de fisica y quimica y la de musica. Esta compuesto
        tambien con una sala de profesores, gimnasio que se usa mas para eventos
        que otra cosa y tiene una pequeña caseta donde vive Willie el de
        mantenimiento.
      </p>
      <hr />
      <article>
        <figure>
          <img src="img/inicio/edificio.webp" />
        </figure>
        <figure>
          <img src="img/inicio/escuela3.webp" />
        </figure>
        <figure>
          <img src="img/inicio/escuela5.webp" />
        </figure>
        <figure>
          <img src="img/inicio/escuela6.webp" />
        </figure>
      </article>
    </section>

    <section>
      <h3>Informe de daños</h3>
      <div>
        <article>
          <section>
            <p>
              Aunque no nos esta permitido, hemos preferido advertir a toda
              aquella familia que este dispuesta a apuntar a sus niños a este
              colegio de las posibles malas influencias que hay por aqui. Podran
              ver que son muy pocos pero, estos niños son capaces de derrumbar
              el edificio con solo media hora que tienen de recreo ¡Cuidado con
              ellos, sobretodo con el primero, no es conveniente acercarse a el
              ni a su familia, mucho menos a su padre que es el culpable de
              todas estas catastrofes que ocurren aqui!
            </p>

            <p>
              Lo volvere a repetir, por si no les queda claro, aunque no nos
              esta permitido porque puede quitarle dinero y alumnos al centro,
              hemos preferido advertir a toda aquellas familia que esten
              dispuesta a matricular a sus niños en este centro de las posibles
              malas influencias que hay por aqui. Podran ver que son muy pocos
              pero, estos niños son capaces de derrumbar el edificio con solo
              media hora que tienen de recreo ¡Cuidado con ellos, sobretodo con
              el primero, llamado BART SIMPSON, no es conveniente acercarse ni a
              el ni a su familia, mucho menos a su padre, HOMER SIMPSON, quien
              es el culpable de todas las catastrofes que ocurren aqui y en la
              ciudad!
            </p>
            <p>Gracias y que tengan un buen dia.</p>
          </section>
        </article>
        <article>
          <section>
            <table>
              <tr>
                <th> Alumno </th>
                <th> Nivel de Daños </th>
              </tr>
              <tr>
                <td> Bart Simpson </td>
                <td> ¡Alerta Roja! </td>
              </tr>
              <tr>
                <td> Nelson Muntz </td>
                <td> Muy Grave </td>
              </tr>
              <tr>
                <td> Jimbo Jones </td>
                <td> Grave </td>
              </tr>
              <tr>
                <td> Kearney Zzyzwicz </td>
                <td> Grave </td>
              </tr>
              <tr>
                <td> Dolph Starbeam </td>
                <td> Grave </td>
              </tr>
              <tr>
                <td> Milhouse Van Houte </td>
                <td> Insignificante </td>
              </tr>
            </table>

            <section>
              <figure>
                <img src="img/inicio/bart.webp" />
              </figure>
            </section>
          </section>
        </article>
      </div>
    </section>
  </main>
</Layout>
