---
import Layout from "../layouts/Layout.astro";
import "../styles/login.css";
---

<Layout>
  <main>
    <section>
      <l-ring size="”60”" color="coral"></l-ring>

      <div class="container"></div>
      <h2>ERROR 404</h2>
      <p>
        Debido a problemas técnicos, la página no ha conseguido cargar su
        contenido. Por favor, pruebe en otro momento o utilice el formulario de
        contacto si la página sigue sin estar disponible, gracias y disculpe las
        molestias.
      </p>
    </section>
  </main>
</Layout>
