---
import Layout from "../layouts/Layout.astro";
import "../styles/login.css";
---

<Layout>
  <main>
    <section>
      <h2>Log-in</h2>
      <section>
        <article>
          <h2>Inicio de Sesión</h2>
          <form action="" class="inicioSesion">
            <input type="email" placeholder="Email" name="email" required />
            <input
              type="password"
              placeholder="Contraseña"
              name="contraseña"
              required
            />
            <label>
              <input type="checkbox" name="recordar" value="1" />
              Mantener tu sesión iniciada
            </label>
            <button>Iniciar sesión</button>
          </form>
        </article>
        <article>
          <h2>Registro</h2>
          <form action="" class="registro">
            <div>
              <div class="datos1">
                <input type="text" placeholder="Usuario" name="user" required />
                <input
                  type="file"
                  id="avatar"
                  name="avatar"
                  accept="image/png, image/jpeg"
                />
                <input
                  type="password"
                  placeholder="Contraseña"
                  name="contraseña"
                  required
                />
              </div>
              <div class="datos2">
                <input type="email" placeholder="Email" name="email" required />
                <input
                  type="email"
                  placeholder="Repite tu Email"
                  name="repiteEmail"
                  required
                />
                <input
                  type="password"
                  placeholder="Repite tu contraseña"
                  name="repiteContraseña"
                  required
                />
              </div>
            </div>
            <div class="botones">
              <button>Registrarse</button>
              <button type="reset">Borrar datos</button>
            </div>
          </form>
        </article>
      </section>
    </section>
  </main>
</Layout>
