<header>
  <section>
    <h1>Escuela primaria de Springfield</h1>
  </section>

  <!-- <form>
    <label>Usuario: </label>
    <input type="text" name="user" placeholder="Usuario" />
    <br />
    <label>Contraseña: </label>
    <input type="password" name="pass" placeholder="Contraseña" />
    <br />
    <label><input type="checkbox" name="recordarme" /> Mantenme conectado</label
    >

    <button type="submit">Log-in</button>
  </form> -->
</header>
