<nav>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/equipoTrabajo">Equipo de Trabajo</a></li>
    <li><a href="/castigados">Castigados</a></li>
    <li><a href="/contacto">Contacto</a></li>
  </ul>
</nav>
