<div id="nav">
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/equipoTrabajo">Equipo de Trabajo</a></li>
      <li><a href="/castigados">Castigados</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </nav>
  <div id="menu">Menú</div>
  <ul>
    <li>
      <a href="/login"
        >Login <i class="fa-solid fa-arrow-right-to-bracket"></i></a
      >
    </li>
  </ul>
</div>
